* {
    font-family: 'Satisfy', cursive;
    margin: 0;
    padding: 0;
}

header {
    max-height: 10vh;
}

body {
    overflow-y: scroll;
}

a {
    text-decoration: none !important;
}

.container-fluid {
    min-height: 10vh;
}

.navbar {
    padding: 0 !important;
}

footer {
    min-height: 10vh;
}

#wrapper {
    min-height: 80vh;
    background-color: #F7F7F7;
}

body {
    min-height: 100vh;
    box-sizing: border-box;

}

.btn-warning:hover {
    color: white !important;
}

.fa-eye {
    color: red;
}


.erreur {
    animation: flash infinite 2s;
}

@keyframes flash {
    0% {
        background-color: red;

    }

    50% {
        background-color: #f24b4b9f;

    }

    100% {
        background-color: red;

    }
}

.post,
.subject {
    transition: ease-in-out 2s;

}

.post:hover,
.subject:hover {
    cursor: pointer;
    background: linear-gradient(181deg, #3dc69c, #ebecb7);
    transition: ease-in-out 2s;
}
