:root {
    --bs-primary-rgb: 183, 221, 245;
    --bs-secondary-rgb: 255, 193, 7;
}

* {
    font-family: 'Satisfy', cursive;
    margin: 0;
    padding: 0;
}

header {
    max-height: 10vh;
}

.bg-header {
    background-color: #56cca0;
}

.bg-footer {
    background-color: #dde9b5;
}

.text-shadow {
    text-shadow: 0px 0px 8px black;
}

body {
    overflow-y: scroll;
}

a {
    text-decoration: none !important;
}

.container-fluid {
    min-height: 10vh;
}

.navbar {
    padding: 0 !important;
}

footer {
    min-height: 10vh;
}

#wrapper {
    min-height: 80vh;
    /*  background: linear-gradient(180deg, #56cca0, #dde9b5); */
}

body {
    min-height: 100vh;
    box-sizing: border-box;

}

.btn-warning:hover {
    color: white !important;
}

.fa-eye {
    color: red;
}


.erreur {
    animation: flash infinite 2s;
}

@keyframes flash {
    0% {
        background-color: red;

    }

    50% {
        background-color: #f24b4b9f;

    }

    100% {
        background-color: red;

    }
}

.post,
.subject {
    transition: ease-in-out 2s;

}

.post:hover,
.subject:hover {
    cursor: pointer;
    background: linear-gradient(181deg, #3dc69c, #ebecb7, #FFFFFF);
    transition: ease-in-out 2s;
}


.accordion-button:not(.collapsed) {
    background: linear-gradient(181deg, #3dc69c, #ebecb7);
    animation: none;
}

.card {
    transition: ease-in-out 0.3s;
}

.card:hover {
    background: linear-gradient(270deg, #cc6aa5, #3e91cc, #2dcca7);
    background-size: 600% 100%;
    animation: bg-pan-left 2s infinite alternate both;
    transition: ease-in-out 0.3s;
}

.z-4 {
    z-index: 4;
}

.shadow-white {
    box-shadow: 0 0 10px white;
}

.text-shadow-info {
    text-shadow: 0 0 10px #0dcaf0;
}

.shadow-info {
    box-shadow: 0 0 10px #0dcaf0;
}

@keyframes whiteBorderFlash {
    0% {
        box-shadow: 0 0 10px #ffffff;
        /* background-color: #FFFFFF; */
    }



    100% {
        box-shadow: 0 0 20px #ffffff;
        /* background-color: #E0E0E0; */
    }
}

.whiteBorderFlash {
    animation: whiteBorderFlash infinite alternate 0.8s;
}

@keyframes newCom {
    0% {
        background-color: white;
    }



    50% {
        background-color: aquamarine;
    }

    100% {
        background-color: white;
    }
}

.newComFlash {
    animation: newCom 0.8s;
}

.hidden {
    display: none;
}

.display {
    display: block !important;
}

.shake-horizontal {

    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

.bg-pan-left {

    animation: bg-pan-left 8s infinite alternate both;
}

@keyframes bg-pan-left {
    0% {
        background-position: 100% 50%;
    }

  
    100% {
        background-position: 0% 50%;
    }
}